@import "tailwindcss";

@theme {
    --font-custom: 'Poppins', Arial, sans-serif;
    --primary-orange: #F4A261;
    --light-orange: #FFE0C2;
    --dark-blue: #1F3A5F;
    --white: #FFFFFF;
    --off-white: #FFF9F5;
}

@layer case {

    body {
        @apply font-custom text-[#1a1a1a] bg-[#ffffff] box-border;
    }

    Link {
        @apply no-underline;
    }

    .toggleSpan {
        @apply block h-0.5 w-full bg-[#1e8e3e] rounded-xs;
    }
}