@import "tailwindcss";

@theme {
    --font-custom: 'Poppins', Arial, sans-serif;
   

  --animate-error-bar: errorBar 3s ease-in-out forwards;

  @keyframes errorBar {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    15% {
      opacity: 1;
      transform: translateY(0);
    }

    80% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}

@layer case {

    body {
        @apply font-custom text-[#1a1a1a] bg-[#ffffff] box-border;
    }

    Link {
        @apply no-underline;
    }

    .toggleSpan {
        @apply block h-0.5 w-full bg-[#1e8e3e] rounded-xs;
    }
}